@model Amigo
@* VISTA FUERTEMENTE TIPADA*@
@{

    Layout = "~/Views/share/_Layout.cshtml";
    ViewBag.Title = "AMIGOS INDICE";
    var rutafoto = "~/images/"+(Model.rutaFoto??"");
}

<h1>@ViewData["Cabecera"]</h1>
@{
    var amigo = ViewData["Amigo"] as tutoria_net_core.Models.Amigo;//traemos la referencia del modelo amigo q es la clase
}


<div>
    <div class="row justify-content-center" m-3>
        <div class="col-sm-8">
            <div class="card">

                <div class="card m-3">
                    <div class="card-header">
                        <h3>@amigo.nombre </h3>
                    </div>
                    <div class="card-body text-center">
                        <img class="card-img-top imagen" src="@rutafoto" asp-append-version="true" />
                        <h4>AMIGO ID : @Model.Id</h4>
                        <h4>EMAIL : @Model.email</h4>
                        <h4>CIUDAD : @Model.ciudad</h4>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-primary">VER</a>
                        <a href="#" class="btn btn-primary">EDITAR</a>
                        <a href="#" class="btn btn-danger">BORRAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div>
    Nombre:@amigo.nombre
</div>
<div>
    email:@amigo.email
</div>
<div>
    ciudad:@amigo.ciudad
</div>*@

@*<h1>@ViewBag.Cabecera</h1>

<div>
    Nombre:@ViewBag.amigo.nombre
</div>
<div>
    email:@ViewBag.amigo.email
</div>
<div>
    ciudad:@ViewBag.amigo.ciudad
</div>

<h1>FUERTEMENTE TIPADO</h1>

<div>
    Nombre:@amigo.nombre
</div>
<div>
    email:@amigo.email
</div>
<div>
    ciudad:@amigo.ciudad
</div>*@

@section Scripts
{
    <script src="~/js/site.js"></script>
    <script src="C:\Users\Usuario1\Documents\tutoria net core\tutoria net core\Views\js\JavaScript.js"></script>
}

